.git
.gitignore

.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
*.pem
*.key

runtime_outputs
*.log
*.dump
*.sqlite
*.sqlite3

tests
docs
examples

docker-compose.yml
docker-compose.infrastructure.yml